@font-face{
  font-family:monocraft;
  src: url(Monocraft.ttf);
}
html{
  font-family:monocraft;
  

}
body{
  color:#aa99bb;
  background-color:#303446;

}
.links{
  color:#887799;
}
.links:hover{
  color:aliceblue;
}
